@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--primary-color: rgb(0, 0, 0);
--secondary-color: #D7DE57;
--tertiary-color: white;
/* Tipografia */
font-family:"Montserrat", sans-serif ;
font-size: 14px;
}
.footer{
    background-color: var(--primary-color);
    align-content: ;
}
.conteiner-input{
    align-items: center;
}
.btn{
    height: 30px;
}